@charset "utf-8";
/* CSS Document - 統合版 */

/* ===== 共通要素 ===== */
html{
	font-size: min(4.25vw, 34px);
}

body {
	background-color: black;
    margin: 0;
    font-family: -apple-system,  /* iOS/macOS用 */
    BlinkMacSystemFont, /* macOS用 */
    "Segoe UI",     /* Windows用 */
    Roboto,         /* Android用 */
    "Helvetica Neue", /* iOS/macOSの古いバージョン用 */
    Arial,          /* 汎用のゴシック体 */
    sans-serif;     /* サンセリフ系フォント */
  }

/* ヘッダー */
header {
  border-bottom: min(0.1rem, 3.4px) solid #797979;
  display: block;
  background-color: black;
  background-image: url("../img/header_bg.webp");
  background-size: cover; 
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}

/* ヘッダー内のコンテンツ */
.header_contents {
  display: flex; /* フレックスボックスで配置を調整 */
  align-items: center; /* 縦方向の中央揃え */
  justify-content: space-between; /* 各要素を左右に配置 */
  width: 100%;
  margin: 0 auto; /* 左右中央揃え */
}

.header_contents a{
	text-decoration: none;
	margin: 0 11% 0 6%;
}

/* メニューボタンのスタイル */
        .menu-icon {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            cursor: pointer;
            margin-left: 3%;
        }

        .menu-icon div {
            width: 2rem;
            height: 0.15rem;
            background-color: white;
            border-radius: 1rem;
        }

		.menu.open {
			height: 80vh;
		    display: block;
			overflow: auto;
			position: fixed;
			max-width: 488px;
			z-index: 1000;
			width: 55vw;
		}

        .menu {
            display: none;
            background-color: rgba(0, 0, 0, 0.7);
			height: auto;
			overflow: auto;
            padding: min(3%, 24px);
        }

.menu .close{
	font-size: 2.5rem;
    position: relative;
    cursor: pointer;
    width: 1rem;
	top: 0rem;
    color: white;
    z-index: 100;
}

.menu li{
	display: flex;
	align-items: center;
	margin-bottom: 4%;
}

.menu p{
	background-color: #7F0C10;
	color: white;
	font-size: 1.52rem;
	margin-bottom: 5%;
	padding: 2%;
}

.menu a{
	color: white;
	display: block;
	font-size: 1rem;
	text-decoration: none;
	margin-top: 7%;
}

.menu img{
	display: block;
	width: 25%;
}

.menu ul{
	list-style: none;
	padding-left: 0;
}

/* ロゴタイプのスタイル */
.header_logotype {
  width: 82%; /* 幅を画面幅に比例させる */
  margin: 0 0 0 0;
}

/* ロゴのスタイル */
.header_logo {
  width: 16%; /* 幅を画面幅に比例させる */
  margin: 0 0 0 0;
}

/* コンテナ */
  .container {
	display: block;
	position: relative;
	outline: 0.03rem solid #797979;
    max-width: 800px;
    margin: 0 auto;
	overflow: hidden;
    padding: 0;
    box-sizing: border-box;
	transform: scale(calc(100vw / 800));
	transform-origin: top center;
  }

  .container::before {
    content: "";
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    max-width: 800px;
    height: 100vh;
    background-image: url('../img/background.webp');
    background-size: cover;
    background-position: center bottom;
	background-repeat: no-repeat;
	 z-index: 0;
  }

/* メンバー情報 */
.member-info{
	background-color: rgba(0, 0, 0, 0.5);
	display: block;
	margin: 0;
    overflow: visible;
	position: relative;
    text-align: center;
	z-index: 100;
}

/* ヘッダー画像 */
  .header-image {
    width: 100%;
    height: auto;
	pointer-events: none;
    display: block;
    object-fit: cover;
	position: relative;
    margin: -67% 0 -51% 0;
	-webkit-touch-callout: none;
	z-index: 50;
  }

/* 区切り */
.division{
	margin-top: 15%;
}

/* 黒背景 */
 .black-background {
	align-content: center;
    background-color: rgba(0, 0, 0, 0.5);
	margin: 5% 4%;
	overflow: visible;
	position: relative;
  }

/* ボタンリンク */
.btn-link{
	align-content: center;
    background-color: rgba(0, 0, 0, 0.5);
	border-radius: 2rem;
    border: 0.2rem solid #000000;
	margin: 5% 15%;
	overflow: visible;
	padding: 4% 0;
	position: relative;
}

/* プラン */
.plan{
  display: block;
  margin: 0;
  position: relative;
}

/* テキストセクション */
.text-section {
    position: relative;
    display: block;
    text-align: center;
    overflow: visible;
    margin: 2%;
	z-index: 100;
  }

  .large-text {
	  color: white;
    font-size: 1.58rem; /* Scales to 52px at 800px width */
	 margin: 0;
	-webkit-text-stroke-width: 0.15rem;
	-webkit-text-stroke-color: black;
    paint-order: stroke fill;
	  font-weight: 700;
	display: block;
    position: relative;
  }

  .medium-text {
    color: white;
    font-size: min(1rem, 34px);
    line-height: 1.8;
    margin: 0;
    -webkit-text-stroke-width: 0.13rem;
    -webkit-text-stroke-color: black;
    paint-order: markers stroke fill;
    font-weight: 700;
    display: block;
    position: relative;
  }

 .small-text {
  color: white;
  font-size: min(0.76rem, 26px);
  margin: 0;
  -webkit-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: black;
  paint-order: markers stroke fill;
  font-weight: 700;
  }

.mini-text{
	color: white;
    font-size: 0.7rem; /* Scales to 24px at 800px width */
    margin: 0;
    -webkit-text-stroke-width: 0.06rem;
    -webkit-text-stroke-color: black;
    paint-order: stroke fill;
    font-weight: 700;
    display: block;
    position: relative;
}

.stroke-text{
  margin: 0;
  font-size: 0.7rem;
  position: relative;
  display: inline-block;
  font-weight: 600;
}

.stroke {
    position: absolute;
    -webkit-text-stroke: 0.07rem black;
    z-index: 10;
}

.fill {
    position: relative;
     color: white;
     z-index:50;
}

.gradient {
    font-size: 1rem;
    font-weight: 900;
    margin: 0;
    background: linear-gradient(0deg, #d18415, #e9a900, #f5f8b4, #e9a900, #fff87f, #fff87f, #e9a900, #f5f8b4, #e9a900, #d18415);
    background-size: 100% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: GradietionAnimation 2s linear infinite;
}
@keyframes GradietionAnimation { 
  from { background-position: 0% 50%; }
  to { background-position: 0% 300%; }
}
.text-section a{
  color: wheat;
  text-decoration: underline;
  -webkit-text-stroke-width: 0;
  -webkit-text-stroke-color: none;
}

.text-section ul{
	list-style: none;
	padding-left: 0;
}

.text-section span{
	color: white;
}

/* 画像セクション */
  .image-section {
    position: relative;
    display: block;
    text-align: center;
    overflow: visible;
    z-index: 100;
  }

  .image-section img {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    margin: 0 auto;
  }

/* フローティングメニュー */
.floating-menu {
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    transform: translateX(-50%);
    padding: 10px 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
    z-index: 500;
}

.floating-menu a {
    color: white;
    text-decoration: none;
    text-align: center;
    flex-grow: 1;
}

.floating-menu a:hover {
    background-color: #555;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.floating-menu-icon {
    font-size: 24px;
}

.menu-text {
    font-size: 0.5rem;
}

.menu-item img{
    width: 70%;
}

/* リンク */
a{
  text-decoration: none;
}

/* 子要素 */
.child-div {
  text-align: inherit;
  margin: inherit;
  padding: inherit;
  background: inherit;
  border: inherit;
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
  height: auto;
  box-sizing: border-box;
}

.general-div{
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  gap: 0;
  width: 100%;
  box-sizing: border-box;
}

.child-div:nth-child(7) {
  grid-column: 1 / 3; /* 2列目に配置 */
  grid-row: 4 / 4;    /* 4行目に配置 */
  aspect-ratio: 10;
}

.general-div .black-background{
	margin: 2% 4%;
}

.general-div img .foregroud-image{
	width: 100%;
}
 
/* 画像ズーム */
.image-zoom img {
    transition: transform 0.3s ease;
}

.image-zoom a:active img {
    transform: scale(1.1);
}

/* アニメーション画像 */
.animatedImage{
	transition: transform 0.3s ease;
}

.ghost-image {
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.ghost-image2 {
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

@keyframes ripple-effect {
    0% { transform: scale(1); opacity: 1; }
    100% { transform: scale(1.5); opacity: 0; }
}

.animationContainer{
	overflow: hidden;
}

/* スクロールアニメーション */
.scrollSpeial{
  width: 100%;
  height: 2rem;
  background-position: center;
  background-size: contain;
  background-image: url(../img/header_special.svg);
  background-repeat: no-repeat;
  position: relative;
  z-index: 100;
}


.scrollVip{
  width: 100%;
  height: 2rem;
  background-position: center;
  background-size: contain;
  background-image: url(../img/header_vip.svg);
  background-repeat: no-repeat;
  position: relative;
  z-index: 100;
}

.scrollDay{
  width: 100%;
  height: 2rem;
  background-position: center;
  background-size: contain;
  background-image: url(../img/header_mainday.svg);
  background-repeat: no-repeat;
  position: relative;
  z-index: 100;
}

.scrollNight{
  width: 100%;
  height: 2rem;
  background-position: center;
  background-size: contain;
  background-image: url(../img/header_mainnight.svg);
  background-repeat: no-repeat;
  position: relative;
  z-index: 100;
}

.scrollTryal{
  width: 100%;
  height: 2rem;
  background-position: center;
  background-size: contain;
  background-image: url(../img/header_tryal.svg);
  background-repeat: no-repeat;
  position: relative;
  z-index: 100;
}

.scrollMornig{
  width: 100%;
  height: 2rem;
  background-position: center;
  background-size: contain;
  background-image: url(../img/header_morning.svg);
  background-repeat: no-repeat;
  position: relative;
  z-index: 100;
}


.scrollJisseki{
  width: 100%;
  height: 2rem;
  background-position: center;
  background-size: contain;
  background-image: url(../img/header_tekityu.svg);
  background-repeat: no-repeat;
  position: relative;
  z-index: 100;
}

/* フッター */
footer{
	background-color: black;
	width: 100%;
	height: auto;
	text-align: left;
	color: white;
	margin: 0 auto;
	padding-bottom: 20%;
	max-width: 800px;
	position: relative;
	z-index: 1;
}

footer ul{
	padding-left: 7%;
}

footer li{
	font-weight: normal;
	margin-bottom: 4%;
}

.footer_nav{
	
	display: flex;
	justify-content: space-around; /* 均等配列 */
	padding: 5% 0; /* 上下の余白を追加 */
}

.footer_nav a {
	font-size: 22px;
	color: white;
	text-decoration: none;
}

/* レスポンシブ */
@media (min-width: 800px) {
    .container::before {
        transform: translateX(-50%) scale(1);
    }
}

  @media (max-width: 800px){
	  
	.footer_nav {
        display: flex;
        flex-wrap: wrap; /* アイテムを折り返し */
        justify-content: center; /* 中央揃え */
    }

    .footer_nav a {
		font-size: min(0.76rem, 26px);
        width: 45%; /* 各リンクの幅を45%に設定（2列表示にするため） */
        margin: 1% -2%; /* 上下の余白を10px、左右の余白を2% */
        text-align: center; /* リンク内テキストの中央揃え */
    }
}

.copyright{
	text-align: center;
}

/* モーダル */
.modal {
	display: none; /* 初期は非表示 */
	top: 0%;
	position: fixed;
	z-index: 1000;
	width: 100%;
	height: 100%;
	overflow: auto;
	pointer-events: auto;
	background-color: rgba(0, 0, 0, 0.5); /* 背景の半透明化 */
}

.modal-content {
	color: white;
	display: flex;
	flex-direction: column;
	transform: scale(1) translate(-50%, -50%);
	position: fixed;
	top: 50%;
    left: 50%;
	width: 95%;
	overflow: visible;
    height: 80%;
	max-width: 500px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content .toiawase{
	font-size: 0.76rem;
    text-decoration: none;
    color: black;
    border: 0.01rem solid black;
    margin: 0% 20%;
    padding: 2% 0;
}

.white-background{
	background-color: black;
	border-radius: 10px;
	font-size: min(1rem, 20px);
	overflow: auto;
	padding: 7% 5%;
	text-align: left;
}

input {
	font-size: 90%;
    width: 95%;
    padding: 3% 1%;
    margin-bottom: 3%;
    border: 0.15em solid #ccc;
    border-radius: 5px;
}

.white-background form{
	text-align: center;
}

.white-background textarea{
	border: 0.15em solid #ccc;
	border-radius: 5px;
	font-size: 90%;
	height: 150px;
    width: 89%;
    padding: 2% 4%;
}
.white-login {
  margin-top: 1rem;
  font-size: 150%;
  font-weight: bold;
  background-color: #9B0000;
  color: white;
  padding: 1% 16%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.modal-content .close {
    color: white;
    float: right;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.modal-content h2{
	text-align: center;
	margin-bottom: 7%;
	font-size: 118%;
}

.modal-content dt {
	color: white;
	font-weight: bold;
	margin-top: 2%;
}

.modal-content dd {
	color: white;
	margin-bottom: 2%;
}

.tokusyou dd{
	color: white;
	margin-bottom: 4%;
}

.modal-content p{
	color: white;
	margin-bottom: 2%;
}

.modal-content ol, .modal-content ul{
	color: white;
	margin-left: 4%;
}



/* ===== ページ固有の要素 ===== */

/* bank.html 固有の要素 */

body.bank .text-section{
  position: relative;
    display: block;
    text-align: left;
    overflow: visible;
    z-index: 100;
    margin: 4%;
}

body.bank .radio-inline__input {
    display: none;
}

body.bank .radio-inline__label {
    display: inline-block;
    padding: 2% 4%;
    margin: 1%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0.1rem solid #797979;
    border-radius: 0.5rem;
    cursor: pointer;
    color: white;
    font-size: 0.8rem;
    transition: all 0.3s ease;
}

body.bank .radio-inline__input:checked + .radio-inline__label {
    background-color: #7F0C10;
    border-color: #7F0C10;
}

body.bank .btn-pt {
    background-color: rgba(0, 0, 0, 0.5);
    border: 0.2rem solid #000000;
    border-radius: 2rem;
    color: white;
    padding: 4% 8%;
    margin: 2%;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.scroll{
    width: 100%;
    height: 2rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    z-index: 100;
}

body.bank table {
  border: 0.1rem solid #5B5B5B;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  color: white;
}

body.bank th {
  background-color: #7F0C10;
  border: 0.1rem solid #5B5B5B;
  padding: 0;
  text-align: center;
  white-space: nowrap;
}

body.bank td {
    border: 0.1rem solid #5B5B5B;
    font-size: 0.8rem;
    padding: 1% 0 1% 2%;
    text-align: left;
    white-space: nowrap;
}

/* contact.html 固有の要素 */
body.contact .contact{
  display: block;
  padding: 2% 3%;
  position: relative;
  z-index: 50;
}

body.contact .contact form{
	text-align: center;
}

body.contact .contact input{
    width: 100%;
    padding: 2%;
    margin: 2% 0;
    border: 0.1rem solid #ccc;
    border-radius: 0.5rem;
    box-sizing: border-box;
}

body.contact .contact textarea{
  border: 0.15em solid #ccc;
  border-radius: 5px;
  font-size: 90%;
  height: 150px;
  width: 89%;
  padding: 2% 4%;
}

body.contact .contact h2{
	color: white;
	font-size: 1.5rem;
	margin-bottom: 4%;
}

body.contact .contact p{
	color: white;
	margin-bottom: 2%;
}

body.contact .contact-btn{
  margin-top: 1rem;
  font-size: 150%;
  font-weight: bold;
  background-color: #9B0000;
  color: white;
  padding: 1% 16%;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

body.contact .scrollContact{
	background-image: url('../img/header_otoiawase.webp');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 200px;
	animation: scroll 20s linear infinite;
}

/* jisseki.html 固有の要素 */

body.jisseki .general-div .black-background{
	margin-top: 0;
}

body.jisseki .text-section {
    text-align: center;
}

body.jisseki .general-div a{
	color: white;
	text-decoration: none;
}

body.jisseki .pagenation a{
    color: wheat;
    font-weight: bold;
    text-decoration: underline;
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: none;
}

body.jisseki .pagenation{
    display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 0;
        gap: 0.6rem;
        position: relative;
        z-index: 10;
}

body.jisseki .pagination li {
    display: inline-block;
}



/* kounyu.html 固有の要素 */
body.kounyu .text-section{
    position: relative;
    display: block;
    text-align: left;
    overflow: visible;
    z-index: 100;
    margin: 4%;
}

body.kounyu .radio-inline__input {
    display: none;
}

body.kounyu .radio-inline__label {
    color: white;
    display: block;
    padding: 7%;
    margin: 4%;
    text-align: center;
    cursor: pointer;
    outline: 0.3rem solid white;
    pointer-events: fill;
    font-size: 1rem;
    font-weight: bold;
}

body.kounyu .radio-inline__input:checked + .radio-inline__label {
    outline: 0.02rem solid #E50003;
    background: black;
    font-weight: bold;
}


body.kounyu .btn-pt {
    background-color: #9B0000;
    color: white;
    display: block;
    font-size: 150%;
    font-weight: bold;
    margin: 5% auto;
    padding: 1% 16%;
    border: none;
    border-radius: 0.4rem;
}


/* siharai.html 固有の要素 */
body.siharai .text-section {
    text-align: center;
}

body.siharai .plan_list{
  margin: 10% 0 10% 0;
  display: block;
  position: relative;
  text-align: center;
  z-index: 50;
}


body.siharai .plan_btn{
  display: inline-block;
  margin: 2rem;
}

body.siharai .plan_btn a{
  background-image: url(../img/btn_participate.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-weight: bolder;
  text-decoration: none;
  padding: 1rem 3rem;
}


/* privacy.html 固有の要素 */
body.privacy .radio-inline__input {
    display: none;
}

body.privacy .radio-inline__label {
    display: inline-block;
    padding: 2% 4%;
    margin: 1%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0.1rem solid #797979;
    border-radius: 0.5rem;
    cursor: pointer;
    color: white;
    font-size: 0.8rem;
    transition: all 0.3s ease;
}

body.privacy .radio-inline__input:checked + .radio-inline__label {
    background-color: #7F0C10;
    border-color: #7F0C10;
}

body.privacy .btn-pt {
    background-color: rgba(0, 0, 0, 0.5);
    border: 0.2rem solid #000000;
    border-radius: 2rem;
    color: white;
    padding: 4% 8%;
    margin: 2%;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
}

body.privacy .scroll{
	background-image: url('../img/header_privacy.webp');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 200px;
	animation: scroll 20s linear infinite;
}

body.privacy table {
    width: 100%;
    border-collapse: collapse;
    margin: 4% 0;
}

body.privacy th {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 2%;
    text-align: left;
    border: 0.1rem solid #797979;
}

body.privacy td {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    padding: 2%;
    border: 0.1rem solid #797979;
}

body.privacy dl{
	background-color: rgba(0, 0, 0, 0.5);
	margin: 4%;
	padding: 4%;
	border-radius: 1rem;
}

body.privacy dl h2 {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 4%;
}

body.privacy dl dt {
    color: white;
    font-weight: bold;
    margin-top: 2%;
}

body.privacy dl dd {
    color: white;
    margin-bottom: 2%;
}

body.privacy dl p{
	color: white;
	margin-bottom: 2%;
}

body.privacy dl ol, body.privacy dl ul{
	color: white;
	margin-left: 4%;
}

/* plan/index.html 固有の要素 */

body.plan .text-section {
    display: block;
    margin: 1rem;
    overflow: visible;
    text-align: left;
    position: relative;
    z-index: 100;
}

body.plan table {
    border: 0.1rem solid #5B5B5B;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    color: white;
}

body.plan table tr:first-child {
        background-color: black;
}

body.plan th {
    border: 0.1rem solid #5B5B5B;
    padding: 1%;
    text-align: center;
    white-space: nowrap;
}

body.plan td {
    border: 0.1rem solid #5B5B5B;
    padding: 1% 0 1% 2%;
    text-align: left;
    white-space: nowrap;
}

body.plan .radio-inline__input {
    display: none;
}

body.plan .radio-inline__label {
    display: inline-block;
    padding: 2% 4%;
    margin: 1%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0.1rem solid #797979;
    border-radius: 0.5rem;
    cursor: pointer;
    color: white;
    font-size: 0.8rem;
    transition: all 0.3s ease;
}

body.plan .radio-inline__input:checked + .radio-inline__label {
    background-color: #7F0C10;
    border-color: #7F0C10;
}

body.plan .btn-pt {
    background-color: rgba(0, 0, 0, 0.5);
    border: 0.2rem solid #000000;
    border-radius: 2rem;
    color: white;
    padding: 4% 8%;
    margin: 2%;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
}

/* mail/mail.html 固有の要素 */
body.mail .general-div {
    align-items: nomal;
    overflow: hidden;
    margin: 0;
    padding: 1%;
    background: none;
    border: none;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
    box-sizing: border-box;
}

body.mail .general-div span {
    display: block;
}

body.mail .text-section {
    margin: 0;
    position: relative;
    display: block;
    text-align: center;
    overflow: visible;
    z-index: 100;
}

body.mail .contact textarea {
    border: 0.15em solid #ccc;
    border-radius: 5px;
    font-size: 90%;
    height: 150px;
    width: 89%;
    padding: 2% 4%;
}

body.mail .contact input {
    font-size: 90%;
    width: 95%;
    padding: 3% 1%;
    margin-bottom: 3%;
    border: 0.15em solid #ccc;
    border-radius: 5px;
}

body.mail .contact {
    display: block;
    padding: 2% 3%;
    position: relative;
    z-index: 50;
}

body.mail .contact form {
    text-align: center;
}

body.mail .white-login {
    margin-top: 0;
    font-size: 150%;
    font-weight: bold;
    background-color: #9B0000;
    color: white;
    padding: 1% 16%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* mail/mail_box.html 固有の要素 */
body.mail_box .text-section {
    margin: 0;
    position: relative;
    display: block;
    text-align: center;
    overflow: visible;
    z-index: 100;
}

body.mail_box .general-div ul {
        list-style: none;
        margin: 0 1rem;
        padding: 0;
}

body.mail_box .mail-list {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 1% 0;
}

body.mail_box .mail-list dl {
    align-items: center;
    position: relative;
    display: flex;
}

body.mail_box .mail-list dl::before {
    content: "";
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: url("../img/mail_unread.svg") no-repeat center center;
    background-size: contain;
    position: relative;
}

body.mail_box .read {
    background-color: rgba(100, 100, 100, 0.5);
}

body.mail_box .read dl::before {
    background-image: url("../img/mail_read.svg");
}

body.mail_box .mail-list .mail-text {
    display: block;
    flex: 1;
    position: relative;
}

body.mail_box .general-div dt {
    color: white;
    font-size: 0.76rem;
    margin: 0 0 0 0;
    -webkit-text-stroke-width: 0.07rem;
    -webkit-text-stroke-color: black;
    paint-order: markers stroke fill;
    font-weight: 600;
}

body.mail_box .general-div dd {
    color: white;
    font-size: 1rem;
    margin: 0 0 0 0;
    -webkit-text-stroke-width: 0.13rem;
    -webkit-text-stroke-color: black;
    paint-order: markers stroke fill;
    font-weight: 700;
}

body.mail_box .pagenation {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-top: 20px;
    gap: 0.6rem;
    position: relative;
    z-index: 10;
}

body.mail_box .pagenation a {
    color: wheat;
    font-weight: bold;
    text-decoration: underline;
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: none;
}

body.mail_box .scrollMailbox {
    width: 100%;
    height: 2rem;
    background-position: center;
    background-size: contain;
    background-image: url('../img/header_mailbox.svg');
    background-repeat: no-repeat;
    position: relative;
    z-index: 100;
}

/* kaime/korogasi.html 固有の要素 */




/* kaime/tanpatu.html 固有の要素 */


/* how_to 関連固有の要素 */
body.how_to .text-section {
    position: relative;
    display: block;
    text-align: left;
    overflow: visible;
    margin: 2%;
    z-index: 100;
}

body.how_to .explanation {
    margin: 4% 0;
    padding: 2%;
    border-left: 0.2rem solid #7F0C10;
}

body.how_to .mini-text {
    display: inline;
    color: white;
    font-size: 0.7rem;
    margin: 0;
    letter-spacing: 0.13rem;
    -webkit-text-stroke-width: 0.07rem;
    -webkit-text-stroke-color: black;
    paint-order: markers stroke fill;
    font-weight: 600;
}

body.how_to .image-section img {
    width: 80%;
    height: auto;
    display: block;
    position: relative;
    margin: 10% auto;
}

/* terms.html 固有の要素 */
body.terms dl{
    color: white;
    -webkit-text-stroke-width: 0.15rem;
    -webkit-text-stroke-color: black;
    paint-order: stroke fill;
}

body.terms dl h2 {
    text-align: center;
    margin-bottom: 7%;
    font-size: 118%;
}

body.terms dl dt {
    font-size: 120%;
    font-weight: bold;
}

body.terms .text-section {
    position: relative;
    display: block;
    text-align: left;
    overflow: visible;
    z-index: 100;
    margin: 4%;

}

body.terms dl dd {
    margin: 0 0 15% 0;
    border-bottom: 0.02rem solid #474747;
}

body.terms dl p{
    font-size: 90%;
    margin: 3% 0;
}

body.terms dl ol, body.terms dl ul{
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-left: 7%;
}

body.terms dl li {
    font-weight: normal;
    margin-bottom: 4%;
}

/* tokusyouhou.html 固有の要素 */
body.tokusyouhou dl{
	background-color: rgba(0, 0, 0, 0.5);
	margin: 4%;
	padding: 4%;
	border-radius: 1rem;
}

body.tokusyouhou dl h2 {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 4%;
}

body.tokusyouhou dl dt {
    color: white;
    font-weight: bold;
    margin-top: 2%;
}

body.tokusyouhou dl dd {
    color: white;
    margin-bottom: 2%;
}

body.tokusyouhou dl p{
	color: white;
	margin-bottom: 2%;
}

body.tokusyouhou dl ol, body.tokusyouhou dl ul{
	color: white;
	margin-left: 4%;
}

/* kaime/korogasi.html・kaime/tanpatu.html 共通テーブルデザイン */
body.kaime_korogasi table,
body.kaime_tanpatu table {
  border: 0.1rem solid #5B5B5B;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  color: white;
}
body.kaime_korogasi th,
body.kaime_tanpatu th {
  border: 0.1rem solid #5B5B5B;
  padding: 0;
  text-align: center;
  white-space: nowrap;
}
body.kaime_korogasi td,
body.kaime_tanpatu td {
  border: 0.1rem solid #5B5B5B;
  font-size: 0.8rem;
  padding: 1% 0 1% 2%;
  text-align: left;
  white-space: nowrap;
}
body.kaime_korogasi td span,
body.kaime_tanpatu td span {
  font-size: 0.67rem;
}

/* kaime/korogasi.html・kaime/tanpatu.html ボタン・リスト系 */
.plan_list {
  display: block;
  position: relative;
  text-align: center;
  z-index: 50;
}
.plan_btn {
  display: inline-block;
  margin: 1.2rem;
}
.plan_btn a {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: bolder;
  text-decoration: none;
  padding: 1rem 3rem;
}
.perticipate {
  background-image: url("../img/btn_participate.webp");
  color: white;
}
.perticipated {
  background-image: url("../img/btn_participated.webp");
  color: white;
}
.publick {
  background-image: url("../img/btn_public.webp");
  color: white;
}
.sold_out {
  background-image: url("../img/btn_soldout.webp");
  color: #5b5b5b;
}
